/FirstModularProject/nbproject/private/
/TestProject/nbproject/private/
/FunctionTest/nbproject/private/
/CollectionTestProject/build/
/JavaProgrammer2/Practice3_1_Exception/nbproject/private/
/JavaProgrammer2/ComparatorTest/nbproject/private/
/JavaProgrammer2/ComparatorTest/build/
/JavaProgrammer2/ComparableTest/build/
/JavaProgrammer2/GenericHashmapPractice/nbproject/private/
/JavaProgrammer2/GenericHashmapPractice/build/
/JavaProgrammer2/ConvenientCollectionsPractice/nbproject/private/
/JavaProgrammer2/ConvenientCollectionsPractice/build/
/JavaProgrammer2/EmployeeSearchUsingLambda/nbproject/private/
/JavaProgrammer2/Collections/ComparableTest/build/
/JavaProgrammer2/Collections/ComparableTest/nbproject/private/
/JavaProgrammer2/Collections/ComparatorTest/build/
/JavaProgrammer2/Collections/ComparatorTest/nbproject/private/
/JavaProgrammer2/Collections/ConvenientCollectionsPractice/build/
/JavaProgrammer2/Collections/ConvenientCollectionsPractice/nbproject/private/
/JavaProgrammer2/Collections/EmployeeSearchUsingLambda/nbproject/private/
/JavaProgrammer2/Collections/GenericHashmapPractice/build/
/JavaProgrammer2/Collections/GenericHashmapPractice/nbproject/private/
/JavaProgrammer2/Streams/StreamCreation/nbproject/private/
/JavaProgrammer2/Streams/StreamCreation/build/
/JavaProgrammer2/HelloNetHeans/nbproject/private/
/JavaProgrammer2/HelloNetHeans/dist/
/JavaProgrammer2/HelloNetHeans/build/
/JavaProgrammer2/Modules/TeamGameManager/nbproject/private/
/JavaProgrammer2/Concurrency/HelloThread/nbproject/private/
/JavaProgrammer2/Concurrency/HelloThread/build/
/JavaProgrammer2/Concurrency/HelloRunnable/nbproject/private/
/JavaProgrammer2/Concurrency/HelloRunnable/build/
/JavaProgrammer2/Concurrency/CountRunnable/nbproject/private/
/JavaProgrammer2/Concurrency/CountRunnable/build/
/JavaProgrammer2/Concurrency/RunnableBank/nbproject/private/
/JavaProgrammer2/Concurrency/RunnableBank/build/
/JavaProgrammer2/Streams/JavaApplication28/nbproject/private/
/JavaProgrammer2/Streams/DownstreamCollectorTest/nbproject/private/
/JavaProgrammer2/Streams/DownstreamCollectorTest/build/
/JavaProgrammer2/Streams/DownstreamCollectorsCities/nbproject/private/
/JavaProgrammer2/Streams/IOStandardInputTest/nbproject/private/
/JavaProgrammer2/Streams/IOStandardInputTest/build/
/JavaProgrammer2/Database/DatabaseFirstTest/nbproject/private/
/JavaProgrammer2/Database/DatabaseFirstTest/build/